body {
  background:white;
}
p.authors{
  width: 1366px;
  height: 60px;
  position: absolute;
  margin-bottom: 40px;
}
div.content {
  width: 100%;
  height: auto;
  margin: auto;
  background:whitesmoke;
  padding: 0px;
  border-color: rgb(13, 13, 14);
  box-shadow: rgb(88, 8, 236);
  border-width: 10px;
}
div.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 750px;
  background-color:white;
  overflow-y:auto;
 
}
div.col{
  background-color:white;
  height:250px;
  width:500px;
  margin-bottom: 30px;
}
#map{
    position: absolute;
    width: 40%;
    height: 106%;
}
.main-content {
    flex-grow: 1;
    border-top: 2vh;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait {
    width: 250px;
}
.topnav {
  overflow: hidden;
  background-color: #f8ab30;
  text-align: right;
} 
.topnav a {
    float: left;
    color: rgb(120, 81, 129);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}  
  
.topnav a.active {
    background-color: #f8ab30;
    color: white;
}

.topnav .search-container {
  width:20px

}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 10px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 40%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .sidebar {
  width: 300px;
  height: 100px;
  margin-right: 100px;
  background: white;
  padding-right: 0px;
  position: absolute;

  }
   
  
  
  .map {
    position:absolute;
    left:40.1%;
    right: 40%;
    width:30%;
    height:60px;
    margin-right: 100px;
  }

  h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color:#404040;
    text-decoration:none;
  }

  a:hover {
    color:#101010;
  }

  .heading {
    background:#fff;
    border-bottom:1px;
    min-height:50px;
    line-height:50px;
    padding:120px;
    background-color:skyblue;
    color: #fff;
    margin-left: 15px;
    text-align: center;
  }

  .listings {
    height:100%;
    overflow:auto;
    padding-bottom:60px;
    border-bottom-left-radius:2px ;
    margin-bottom: 30%; 
  }

  .listings .item {
    display:block;
    padding:10px;
    text-decoration: #f8ab30;
    text-align:left;
    margin-right: 76%;
    padding: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 5rem;
    background-color: #f8ab30;
    
  }

  .listings .item:last-child { border-bottom:none; }
  .listings .item .title {
    color:gray;
    font-weight:700;
  }

  .listings .item .title small { font-weight:400; }
  .listings .item.active .title,
  .listings .item .title:hover { color:gray; }
  .listings .item.active {
    background-color:#f8f8f8;
  }
  ::-webkit-scrollbar {
    width:10px;
    height:2px;
    border-left:0;
    background:rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-track {
    background:none;
  }
  ::-webkit-scrollbar-thumb {
    background:#f8ab30;
    border-radius:0;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
  }

  .clearfix { display:block; }
  .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display:none;
  }
  .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:180px;
  }
  .mapboxgl-popup-content-wrapper {
    padding:1%;
  }
  .mapboxgl-popup-content h3 {
    background: #f8ab30;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
  }

  .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
  }

  .mapboxgl-popup-content div {
    padding:10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor:pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color:  #f8ab30;
  }

  .mapboxgl-ctrl-geocoder {
    border: 2px solid  #f8ab30;
    border-radius: 0;
    position: relative;
    top: 0;
    width: 800px;
    margin-top: 0;
    border: 0;
  }

  .mapboxgl-ctrl-geocoder > div {
    min-width:100%;
    margin-left:0;
  }

  * {
    box-sizing: border-box;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: left;
  }
  .map-responsive{
    width:20%;
    position:center;
    height:40%;
}


footer {
  background: #f8ab30;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: inherit;
  
}

/***********************search************************/

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  height:20%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  height:20%;
  padding: 10px;
  background:  #f8ab30;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background:  #f8ab30;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*******************contacts html**********************************/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f8ab30;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f8ab30;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/***************register html************************************

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
.registerbtn {
  background-color:  #f8ab30;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */
a {
  color:  #f8ab30;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/*********************subscribe to new letter*********************************/
form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}
.container {
  padding: 20px;
  background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f8ab30;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin-top: 16px;
}
input[type=submit] {
  background-color:  #f8ab30;
  color: white;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}

/*******************contacts html**********************************/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f8ab30;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#f8ab30;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:skyblue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/***************register html************************************

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #f8ab30;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: #f8ab30;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/*********************subscribe to new letter*********************************/

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #f8ab30;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

div.content {
  width: 100%;
  height: auto;
  margin: auto;
  background:whitesmoke;
  padding: 0px;
  border-color: rgb(13, 13, 14);
  box-shadow:#f8ab30;
  border-width: 10px;
}

div.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 750px;
  background-color:white;
  overflow-y:auto;
 
}
div.col{
  background-color:white;
  height:250px;
  width:500px;
  margin-bottom: 30px;
}
