/*-------------------------------------------*/
/* 1. BASIC SETUP */
/*-------------------------------------------*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    background-color: #fff;
    color: #777777;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}

/*-------------------------------------------*/
/* 2. HEADER */
/*-------------------------------------------*/
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(img/home.png);
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 50%;
    transform: translate(-40%, -50%);
}

#DetailsHeader{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(img/home.png);
    background-size: cover;
    background-position: center;
    height: 25vh;
}

/*-------------------------------------------*/
/* 3. HEADINGS */
/*-------------------------------------------*/

h1, h2 {

    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    font-family: 'Patrick Hand SC', 'Lato', cursive;
    margin-bottom: 20px;
    color: #fff;
    font-size: 220%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: capitalize;

}

h2:after{
    display: block;
    height: 7px;
    background-color: #9529be;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 400px;
}
.map-header{
    text-align: center;
    padding-bottom: 0px;
}
.map-header:after{
    display: block;
    height: 2px;
    background-color: #9529be;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 400px;
}

/*-------------------------------------------*/
/* 4. BUTTONS */
/*-------------------------------------------*/

.button:link, .button:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border: 2px solid #f39c12;
    border-radius: 200px; 
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.button-filled:link, .button-filled:visited {
    background-color: #f39c12;
    margin-right: 25px;
}

.button-outline:link, .button-outline:visited {
    color: #f39c12;
}

.button:hover, .button:active {
    background-color: #fff;
    color: black;
    border: 2px solid #fff;
}

.button-filled:hover, .button-filled:active {

}

.button-outline:hover, .button-outline:active {

}

/*-------------------------------------------*/
/* 5. LOGO STUFF */
/*-------------------------------------------*/

.logo {
    position: absolute;
    height: 80px;
    width: auto;
    float: left;
    left: 3%;
}
.logospace p {
    position: absolute;
    height: 80px;
    left: 8.5%;
    margin-top: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: azure;
}
#DetailsLogo{
    position: absolute;
    height: 80px;
    width: auto;
    float: left;
    left: 3%;
}
/*-------------------------------------------*/
/* 6. HOME NAVIGATION */
/*-------------------------------------------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0px;
    color: white;
    text-decoration:none;
    font-size: 90%;
    font-weight: 400;
    transition: color 0.2s;

}
.main-nav li a:hover, .main-nav li a:active {
    color: #e67e22;
}

.main-nav-icon ion-icon {
    transform: translate(20%, 30%);
    font-size: 24px;
}

.main-nav-icon ion-icon:hover, .main-nav-icon ion-icon:active {
    transform: translate(20%, 30%);
    color: #e67e22;
}

.nav-bar{
    padding-bottom: 15px;
    padding-right: 50px;
}

/*-------------------------------------------*/
/* 7. DESTINATION SEARCH */
/*-------------------------------------------*/

.search {
    display: inline-block;
	width: 55%;
	height: 57px;
	border: none;
	outline: none;
	padding-left: 27px;
	border-radius: 10px;
	font-size: 80%;
	font-weight: 400;
	color: #000000;
    margin-bottom: 20px;
    margin-right: 10px
}

.search-button
{
	width: 175px;
	height: 57px;
	background: #f8ab30;
	border-radius: 10px;
	cursor: pointer;
	font-size: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding:15px 30px;
    font-weight: 400;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/*-------------------------------------------*/
/* 8. SECTION STUFF */
/*-------------------------------------------*/

section {
    padding: 30px 0px;
}

.box {
    text-align: center;
    padding: 1%;
    padding-top: 30px;
    background-color: white;
    height: 370px;
    width: 370px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.img {
    height: 275px;
    width: auto;
}

/*-------------------------------------------*/
/* 9. MAP BROWSER */
/*-------------------------------------------*/

.map-browser {
    position: relative;
    margin-top: 30px;
    font-size: 500%;
    height: 600px;
    background-color: rgba(137, 14, 167, 0.25);
    text-align: center;
    margin-bottom: 50px;
}

#map{
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features{
    position: absolute;
    top: 0;
    height: 150px;
    margin-top: 20px;
    width: 250px;
}
.map-overlay, #features h2, h3 {
    margin: 10px;
    font-size: small;
}

.map-overlay, #features h3 {
    font-size: small;
}

.map-overlay, #features p {
    font-size: small;
    margin: 10px;
    text-align: left;
}
/*-------------------------------------------*/
/* 10. CONTINENTS */
/*-------------------------------------------*/
#continent\3A 1 {
    background-image: url(img/europe.png);
}
.decor:hover #continent\3A 1{
    background-image: url(img/europe-2.png);
}
#continent\3A 2 {
    background-image: url(img/africa.png);
}
.decor:hover #continent\3A 2{
    background-image: url(img/africa-2.png);
}
#continent\3A 3 {
    background-image: url(img/penguin.png);
}
.decor:hover #continent\3A 3{
    background-image: url(img/penguin-1.png);
}
#continent\3A 4 {
    background-image: url(img/asia.png);
}
.decor:hover #continent\3A 4{
    background-image: url(img/asia-2.png);
}
#continent\3A 5 {
    background-image: url(img/oceania.png);
}
.decor:hover #continent\3A 5{
    background-image: url(img/oceania-2.png);
}
#continent\3A 6 {
    background-image: url(img/north-america.png);
}
.decor:hover #continent\3A 6{
    background-image: url(img/north-america-2.png);
}
#continent\3A 7 {
    background-image: url(img/south-america.png);
}
.decor:hover #continent\3A 7{
    background-image: url(img/south-america-2.png);
}
.c-image {
    display: block;
    background-size:cover;
    background-position: center;
    height: 120px;
    width: 120px;
    transform: translate(20%, 5%);
}
.decor:hover .image {
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 120px;
}
.continent-name{
    display: block !important;
    font-size: 80%;
    position: absolute;
    bottom: 10px;
    left: initial;
    width: 175px;
    text-align: center;
    justify-content: center;
}
.decor {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px 15px;
  width: 175px;
  height: 175px;
  background: white;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.decor:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.decor:hover:before, .decor:hover:after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 175px;
  height: 175px;
  background: #FDA8CF;
  border-radius: 40px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.decor:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}
.holder{
    text-align: center;
    margin-top: 30px;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

/*-------------------------------------------*/
/* 6. POP UP MODAL */
/*-------------------------------------------*/
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
     background-color: rgba(0,0,0,0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content {
    width: 80vh;
    height: 90vh;
    background-color: white;
    border-radius: 4px;
    opacity: 1 !important;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: scroll;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 42px;
    cursor: pointer; 
}
.close:hover{
    color: red;
}
#all-countries {
    position: relative;
    margin:5px; 
    padding:5px; 
    text-align:justify; 
}
#c-name{
    text-align: center;
    margin: 0 auto;
    font-size: 120%;
}
.country {
    height: 120px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    position: relative;
}
.country:hover {
    box-shadow: 0 4px 8px 0 rgba(196, 0, 255, 0.45), 0 6px 20px 0 rgba(196, 0, 255, 0.25);
}
.country-name{
    position: absolute;
    font-size: 90%;
    left: 22%;
}
.country-thumbnail {
    float: left;
    height: 100px;
    border-radius: 400px;
    margin-right: 30px;
}
.country-intro {
    margin-top: 40px;
    font-size: 80%;
    margin-right: 30px;
}
/*-------------------------------------------*/
/* 6. FOOTER */
/*-------------------------------------------*/

footer {
    background-image:linear-gradient(rgba(35, 6, 56, 0.8), rgba(35, 6, 56, 0.8)), url(img/footer.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
}
#DetailsFooter {
    height: 25vh;
}

*{box-sizing: border-box}
.mySlides1, .mySlides2  {display: none}
#imgslides {vertical-align: middle; padding: 5vh}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
